html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}
/* xxxx轮播样式[D0001]*/
.m-swiper-wrap.swiper-container {
  width:100%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.m-swiper-wrap .swiper-slide {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left:auto;
  margin-right: auto;
}
.m-swiper-wrap .desc{
  z-index: 1;
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  height:50px;
  background-color:rgba(0, 0, 0, .5);
  color:#fff;
  padding: 5px 10px;
  box-sizing: border-box;
}
.m-swiper-wrap .pagination{
  bottom: 55px;
}
.m-swiper-wrap .swiper-pagination-bullet-active{
  background: #C92B2F;
}
.m-swiper-wrap .arrow{
  width: 40px;
  opacity: .5;
  background-size: 40px 40px;
}
.m-swiper-wrap .arrow.swiper-button-next {
  background-image:url(http://weixin.shinycg.com/sites/yazhan/Public/Home/images/index/next.png);
}
.m-swiper-wrap .arrow.swiper-button-prev {
  background-image:url(http://weixin.shinycg.com/sites/yazhan/Public/Home/images/index/prev.png);
}
.bg-img-wrap{
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
}
/* End */